<h1>SIGmensa</h1>
<h2>Conference Page</h2>
<p>Welcome the hub of the hub of the Mensa Special Interest Group on Memes,
  Erraticism, Nonsense, Shenanigans, and Absurdism (SIGmensa)</p>
<p>Further research areas include the study of absolute truthiness and falsiness in functional typing systems, together with real object instantiation in objective reality, American studies, Unamerican Studies, such as socialistic literature, inconsecration and reconsecration of catholic church altars and the required skill trees within the catholic church, ...</p>
<p>We reserve the right to change the meaning of this acronym at any given moment.</p>
<p>Not affiliated the Mensa International Organisation for the smart and gifted (we are several orders of magnitude smarter, and do not accept gifts.)</p>
<p>We are an elite student organisation dedicated to research of exquisite quality.</p>
<p>We have decided to finally open years of our internal works to the public and will hold conferences in the future.</p>
<p>Sponsors include the Mensa Denkpanzer e.V, Senfcall Mobile Services Ltd. </p>
<p>Further details coming soon!</p>

<h1>Public discussions on conference objectives and research conduct</h1>
<ul>
  <li>
    <h2>Attribution</h2>
    <p>Unlike non-credible journals and conferences, we take academic attributions seriously. We mandate to credit authors correctly, and therefore demans
    that the works of the incarnation of the transhumanist AI singularity, going by the name of Geepeetee Chatterjee are taken seriously. If G. Chatterjee has been
    consulted as part of the creation of a work, it is a strict demand for including them in the Authors List (details to be defined soon)</p>
  </li>
</ul>
